header{
    width: 100%;
    height: 8rem;
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--background-color);
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 8rem;
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                max-width: 6rem;
                min-width: 4rem;
                margin-right: 4rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .menu{
                display: flex;
                align-items: center;
                li{
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                    a{
                        color: var(--text-color1);
                        padding: 2rem;
                        &:hover{
                            color: var(--color2);
                        }
                    }
                }
            }
        }
        .btn-mobile{
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            position: relative;
            display: none;
            &::after{
                position: absolute;
                content: "";
                background-color: var(--color3);
                border-radius: 2px;
                width: 70%;
                top:35%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 2px;
                display: block;
                transition: 0.3s ease;
            }
            &::before{
                position: absolute;
                content: "";
                background-color: var(--color3);
                border-radius: 2px;
                width: 70%;
                top:65%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 2px;
                display: block;
                transition: 0.3s ease;
            }
        }
        .btn-mobile.active{
            &::after{
                position: absolute;
                content: "";
                background-color: var(--color3);
                border-radius: 2px;
                width: 70%;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg);
                height: 2px;
                display: block;
    
    
            }
            &::before{
                position: absolute;
                content: "";
                background-color: var(--color3);
                border-radius: 2px;
                width: 70%;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-315deg);
                height: 2px;
                display: block;
            }
    }
        .search{
            input{
                padding: 1rem 1.2rem;
                border: none;
                border-radius: 4px;
                color:var(--text-color2);
                background-color: black;
                margin-right: 1rem;
            }
            button{
                display: inline-block;
                color:var(--text-color2);
                padding: 8px 2.4rem;
                background: var(--btn-color);
                border-radius: 4px;
                text-transform: uppercase;
                font-weight: 700;
            }   
        }
    }
}

.relative{
    z-index: 9998;
    .menu-mobile{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 8rem;
        left: -100%;
        background-color: var(--background-color);
        transition: .7s ease;
        z-index: 9998;
        .nav-mobile{
            li{
                border-bottom: 1px solid var(--color1);
                .link-mobile{
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    color:var(--text-color1);
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
                    transition: all .2s ease;
                    &:hover{
                        background-color: var(--color1);
                        padding: 2.4rem 1.6rem 2.4rem 2.4rem;
                    }
                }
                form{
                    padding: 1rem 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    input{
                        width: 100%;
                        padding: 1rem 1.2rem;
                        border: none;
                        color: var(--text-color2);
                        background: black;
                        margin-right: 1rem;
                    }
                    button{
                        background: var(--btn-color);
                        margin: 1rem;
                        max-width: 30rem;
                    }
                }
            }
        }
    }
    .menu-mobile.display{
        left:0;
    }
}