:root{
    --background-color:#ffffff;
    --text-color1:#000000;
    --text-color2:#ffffff;
    --font-style: 'Rubik', sans-serif;
    --btn-color: linear-gradient(90deg, #8A2387 0%, #E94057 46.88%, #F27121 100%);
    --color1:#E94057;
    --color2:#F27121; 
    --color3:#8A2387;



}