.main{
    margin-top: 15rem;
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .main-left{
            max-width: 70rem;
            a{
                .main-image{
                    max-width: 70rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(1.05);
                        transition: .2s ease;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .main-info{
                margin-top: 1rem;
                h5{
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color:var(--color1)
                }
                h2{
                    margin-top: 1.8rem;
                    font-size: 4rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: color .2s ease;
                    &:hover{
                        color:var(--color2);
                    }
                }
                p{
                    margin-top: 1.5rem;
                    font-size: 1.8rem;
                }
                h6{
                    margin-top: 2rem;
                    font-size: 1.2rem;
                }
            }
        }
        .main-right{
            max-width: 50rem;
            h3{
                font-size: 3rem;
                text-transform: uppercase;
                color: var(--color3);
            }
            .post{
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:not(:last-child){
                    margin-bottom: 2rem;
                }
                .post-image{
                    max-width: 15rem;
                    height: 15rem;
                    overflow: hidden;  
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(1.05);
                        transition: .2s ease;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                .post-info{
                    margin-left: 2rem;
                    max-width: 30rem;
                    h5{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        color: var(--color1);
                    }
                    h3{
                        margin-top: 1rem;
                        font-size:2rem;
                        cursor: pointer;
                        transition: color .2s ease;
                        color: var(--text-color1);
                        &:hover{
                            color: var(--color2);
                        }
                    }
                    h6{
                        margin-top: 1rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.posts{
    margin-top: 13rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .large-post{
            max-width: 60rem;
            img{
                width: 7rem;
                margin-left:-1rem
            }
            h3{
                font-size: 6rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 2rem;
            }
        }
        .secondary-post{
            max-width: 60rem;
            .post{
                border-bottom: 1px solid black;
                padding: 2rem 0;
                h6{
                    font-size: 1.2rem;
                }
                h5{
                    font-size: 1.5rem;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    color: var(--color1);
                }
                h4{
                    margin-top: 1rem;
                    font-size: 3rem;

                }
                p{
                    margin-top: 1rem;
                    font-size: 1.5rem;
                }
                .author{
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    .profile{
                        max-width: 4.8rem;
                        height: 4.8rem;
                        border-radius: 50%;
                        margin-right: 1rem;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 2px solid var(--color1);
                        }
                    
                    }
                    
                }
            }
        }
    }
}

.card-section{
    margin-top: 12rem;
    .container{
        h3{
            font-size: 3rem;
            color: var(--color1);
        }
        .cards{
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card{
                border-radius: 4px;
                cursor: pointer;
                transition: box-shadow .2s ease;
                &:hover{
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
                .thumb{
                    max-width: 35rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(1.05);
                        transition: .2s ease;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                .card-info{
                    padding: 0 2rem;
                    margin-top: 2rem;
                    max-width: 35rem;
                    margin-bottom: 2rem;
                    h6{
                        font-size: 1.2rem;
                    }
                    h5{
                        font-size: 1.5rem;
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                        color: var(--color1);
                    }
                    h4{
                        font-size: 3rem;
    
                    }
                    p{
                        margin-top: 1rem;
                        font-size: 1.3rem;
                    }
                    
                }
            }
        }
    }
}

.login{
    margin-top: 20rem;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        form{
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            background: var(--btn-color);
            padding: 5rem;
            border-radius: 15px;
            h5{
                font-size: 3rem;
                color: var(--text-color2);
                margin-bottom: 4rem;
            }
            input{
                padding: 1rem 1.2rem;
                border: none;
                border-radius: 4px;
                background-color: black;
                margin-bottom: 1rem;
                width: 100%;
            }
            button{
                margin-top: 4rem;
                color:var(--text-color2);
                padding: 8px 2.4rem;
                background-color: black;
                border-radius: 4px;
                text-transform: uppercase;
                font-weight: 700;
                width: 100%;
            }
        }
    }
}

.cadastro{
    margin-top: 15rem;
    .container{
        background: var(--btn-color);
        padding: 4rem;
        border-radius: 15px;
        .top-info{
            margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    .profile{
                        max-width: 4.8rem;
                        height: 4.8rem;
                        border-radius: 50%;
                        margin-right: 1rem;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 2px solid black;
                        }
                    
                    }
                    .profile-info{
                        h5{
                            font-size: 2rem;
                            color: var(--text-color2);
                        }
                    }
        }
        p{
            margin-top: 2rem;
            font-size: 2rem;
        }
        .add{
            margin-top: 5rem;
            h3{
                text-transform: uppercase;
                font-size: 1.6rem;
            }
            .form-info{
                label{
                    font-size: 2rem;
                }
                h6{
                    margin-top: 2rem;
                }
                textarea{
                    width: 100%;
                    height: 18rem;
                    background-color: black;
                    color:var(--text-color2);
                }
                button{
                    margin-top: 2rem;
                    color: var(--text-color2);
                    background-color: black;
                }
            }
        }
    }
}