@media(max-width:1220px){
    .main{
        .container{
            flex-direction: column;
            align-items: center;
            .main-right{
                margin-top: 10rem;
                max-width: 100rem;
                align-items: center;
                text-align: center;
                .post{
                    margin-top: 6rem;
                    .post-info{
                        max-width: 80rem;
                        text-align: left;
                    }
                }
            }
        }
    }
    .posts{
        .container{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .large-post{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 5rem;
            }
            .secondary-post{
                .post{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
@media(max-width:1092px){
    .main{
        .container{
            .main-right{
                .post{
                    .post-info{
                        max-width: 50rem;
                    }
                }
            }
        }
    }
    .card-section{
        .container{
            text-align: center;
            .cards{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .card{
                    margin-bottom: 4rem;
                }
            }
        }
    }
}


@media(max-width:920px){
    header{
        .container{
            nav{
                .menu{
                    display: none;
                }
            }
            .btn-mobile{
                display: flex;
            }
            .search{
                input{
                display: none;
                }
            }
        }
    }
}
@media(min-width:920px){
    .relative{
        display: none;
    }
}

@media(max-width:700px){
    .main{
        .container{
            .main-right{
                .post{
                    .post-info{
                        max-width: 30rem;
                    }
                }
            }
        }
    }
}

@media(max-width:500px){
    .main{
        .container{
            .main-left{
                .main-info{
                    h2{
                        font-size: 2.5rem;
                    }
                }
            }
            .main-right{
                .post{
                    .post-info{
                        max-width: 15rem;
                        h3{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}